<template>
  <div id="app">
    <AddUser v-on:add-user="addUser" />
    <Users v-bind:users="users" v-on:del-user="deleteUser" />
  </div>
</template>

<script>
import Users from '../components/Users';
import AddUser from '../components/AddUser';
//import axios from 'axios';

export default {
  name: 'Home',
  components: {
    Users,
    AddUser
  },
  data() {
    return {
      users: [{
        id:1,
        userName:"Hari",
        phoneNo:"9089012123"
      },
      {
        id:2,
        userName:"Ashish",
        phoneNo:"8724309890"
      },
      {
        id:3,
        userName:"John",
        phoneNo:"9977657898"
      }]
    }
  },
  methods: {
    deleteUser(id) {
      this.users = this.users.filter(user => user.id !== id)
      /* axios.delete(`http://localhost:9700/users/${id}`)
        .then(() => this.users = this.users.filter(user => user.id !== id))
        .catch(err => console.log(err)); */
    },
    addUser(newUser) {
      this.users = [...this.users, newUser];
      /*const { id, userName, phoneNo } = newUser;

       axios.post('http://localhost:9700/users/add', {
        userName,
        phoneNo
      })
        .then(res => this.users = [...this.users, res.data])
        .catch(err => console.log(err));
    } */
  },
  /* created() {
    axios.get('http://localhost:9700/users')
      .then(res => this.users = res.data)
      .catch(err => console.log(err));
  } */
}
}
</script>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }

  .btn {
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
  }

  .btn:hover {
    background: #666;
  }
</style>
