<template>
    <div>
 <form @submit="addUser" style="float:center">
      <div>
      <input type="text" v-model="userName" name="User Name" placeholder="Add User Name...">
      <div class="message">{{ validation.firstError('userName') }}</div>
      </div>
      <div>
      <input type="text" v-model="phoneNo" name="Phone Number" placeholder="Add Phone Number...">
      <div class="message">{{ validation.firstError('phoneNo') }}</div>
      </div>
      <div>
      <input type="submit" value="Add" class="btn">
      </div>
  </form>
    </div>
</template>

<script>
import { v4 as uuidv4 } from 'uuid';
import SimpleVueValidation from 'simple-vue-validator';

const Validator = SimpleVueValidation.Validator;

export default {
    name:"AddUser",
    data() {
        return {
            userName:'',
            phoneNo:''
        }
    },
    validators: {
      userName: function(value) {
        return Validator.value(value).required().regex('^[A-Za-z]*$', 'Enter A Valid Name');
      },
      phoneNo: function(value) {
        return Validator.value(value).digit('Enter A Valid Number').required().length(10);
      }
    },
    methods:{
        addUser(e){                                     
            e.preventDefault();
            const newUser = {
                id: uuidv4(),
                userName : this.userName,
                phoneNo : this.phoneNo
            }

            this.$emit('add-user', newUser);
            this.id = '';
            this.userName ='';
            this.phoneNo ='';
            this.validation.reset();
        },       
      }
   
}
</script>

<style scoped>
  form {
    display: inline-flex;
  }
  input[type="text"] {
    flex: 10;
    padding: 5px;
  }
  input[type="submit"] {
    flex: 2;
  }
  .message{
    color: #fa0404;
  }
</style>