<template>
    <div>
        <table-component :data="users" filter-placeholder="Search..." filter-no-results="No Match Found">
            <table-column show="id" label="Sl. No"></table-column>
            <table-column show="userName" label="User Name"></table-column>
            <table-column show="phoneNo" label="Phone No"></table-column>
            <table-column label="Actions" :sortable="false" :filterable="false">
             <template slot-scope="row">
                <!-- <button @click="$emit('edit-user', row.id)" class="edit">Edit</button> -->
                <button @click="$emit('del-user', row.id)" class="del">Delete</button>
             </template>  
            </table-column>
            </table-component> 
    </div>
</template>

<script>
import { TableComponent, TableColumn } from 'vue-table-component';

export default {
    name:"Users",
    components:{
        TableComponent,
        TableColumn
    },
    props:["users"]
}
</script>

<style scoped>
.edit {
    background: #555118;
    color: #fff;
    border: none;
    padding: 2px 5px;
    border-radius: 100%;
    cursor: pointer;
    float: center;
  }
.edit:hover {
    background: rgb(205, 207, 56);
  }
.del {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 2px 5px;
    border-radius: 100%;
    cursor: pointer;
    float: center;
  }
.del:hover {
    background: rgb(243, 88, 88);
  }
</style>